<!DOCTYPE html>
<html>
    <head>
        <title>Vue</title>
        <meta charset="utf-8"/>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
    </head>
    <body>
        <div id="main">
            <span>{{info}}</span>
            <custom message="world"></custom>
        </div>
    </body>
    <script src="js/bundle.min.js"></script>
</html>
